<ul class="booking-container">
    <a href="/bookings/flights">
        <li class="booking-type-link <%=flightActive%>"><i class="fa fa-plane" aria-hidden="true"></i>Flights</li>
    </a>
    <a href="/bookings/trains">
        <li class="booking-type-link <%=trainsActive%>"><i class="fa fa-train" aria-hidden="true"></i>Trains</li>
    </a>
    <a href="/bookings/bus">
        <li class="booking-type-link <%=busActive%>"><i class="fa fa-bus" aria-hidden="true"></i>Buses</li>
    </a>
    <a href="/bookings/hotels">
        <li class="booking-type-link <%=hotelsActive%>"><i class="fa fa-bed" aria-hidden="true"></i>Hotels</li>
    </a>
    <a href="/bookings/holidays">
        <li class="booking-type-link <%=holidaysActive%>"><i class="fa fa-globe" aria-hidden="true"></i>Holidays</li>
    </a>
</ul>